# Build and Output
target/
build/
dist/
out/
logs/
*.log

# Dependencies
node_modules/
vendor/
.venv/
venv/
__pycache__/

# OS and IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
